
header {
height: 35px;
width: 100%;
background-color: darkgrey;
padding:0.5em;
display: fixed;
}
body {
    background-color: lightblue;
}
.nav-bar ul {
 list-style: none;
display:flex;
text-decoration: none;
}
.nav-bar li {
    display: flex;
    float:left;
    padding-left: 3em;
    
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover { text-shadow: 0 0 5px #ff0000; }

img:hover{
    transform:scale(1.5)
}

